@import 'variables';

.features {
  padding: 50px 0;
}

.feature__content {
  width: 35%;
  margin: 0 auto 50px;
  text-align: center;

  .feature__content__h3 {
    color: $very-dark-blue;
  }

  .feature__content__p {
    color: $grayish-blue;
    line-height: 1.6;
  }

}

.feature__items {
  margin: 0 140px;
}

.feature__links {
  width: 65%;
  margin: 0 auto;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .feature__link {
    border-bottom: 1px solid $grayish-blue;
    color: $grayish-blue;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    width: 100%;
    padding: 19px 0 ;
    transition: all 300ms ease-in-out;

    &:hover {
      color: $soft-red;
    }

    &.feature__link--active {
      color: $very-dark-blue;
      border-bottom: 3px solid $soft-red;
      border-radius: 1px;
      padding-bottom: 17px;
    }

  }


}

.feature__item {
  display: none;
  padding: 70px 0;

  &.feature__item--active {
    display: block;
    .feature__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 100px;
    }

  }

}

.feature__grid__image {
  position: relative;

  .feature__figure {
    position: relative;
    z-index: 1;

    .feature__image{
      margin-left: 40px;
      height: 75%;
      width: 90%;
    }

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      bottom: -100px;
      left: -140px;
      background-color: $soft-blue;
      position: absolute;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      z-index: -1;
    }

  }

}

.feature__grid__content {
  display: grid;
  place-content: center;
  height: 90%;
  width: 80%;
  margin: 0 auto;

  .feature__grid__h3 {
    color: $very-dark-blue;
  }

  .feature__grid__p {
    color: $grayish-blue;
    line-height: 1.6;
  }

  .feature__grid__button {
    width: 8em;
  }

}