@import 'variables';

.footer {
  grid-area: footer;
  background-color: $very-dark-blue;
}

.footer__container {
  display: grid;
  grid-template-columns: auto minmax(auto, 600px) 1fr;
  grid-column-gap: 5em;
  align-items: center;

  padding: 2.5em 0;
  margin: 0 14em;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .footer__items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column: 1;

    .footer__link {
      color: #fff;
      font-size: 0.85rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: color 250ms ease-in;

      &:hover {
        color: $soft-red;
      }

    }

  }

}

.footer__media {
  justify-self: center;

  .footer__media__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
    align-items: center;

    .footer__media__item {
      cursor: pointer;
        path {
          fill: #fff;
          transition: fill 250ms ease-in;
        }
      &:hover {
        path {
          fill: $soft-red;
        }
      }
    }

  }

}

