@import 'variables';

.header {
  grid-area: header;
  grid-row: 1 / 2;
  margin: 0 140px;
}

.header__container {
  display: grid;
  grid-template-areas: "logo . . nav";
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 40px 0;
}

.header__logo {
  grid-area: logo;
}

.header__nav {
  grid-area: nav;

  .header__nav_list {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    justify-items: center;
  }

}

.header__nav__list_link {
  color: $very-dark-blue;
  font-size: .8rem;
  text-transform: uppercase;
}

.header__nav__list_button {
  color: #fff;
  background-color: $soft-red;
  padding: 8px 30px;
  border: 1px solid $soft-red;
  border-radius: 5px;
}