@import 'variables';

.hero {
  display: grid;
  grid-template-columns: minmax(55em, 25em) 1fr;
  margin-left: 140px;
  padding: 50px 0;
}

.hero__content {
  padding: 65px 65px 0 0;

  .hero__content__h1 {
    color: $very-dark-blue;
    font-family: $primary-font;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 35px;
  }

  .hero__content__p {
    color: $grayish-blue;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 35px;
  }
  
}

.hero__content__buttons {

  display: grid;
  grid-template-columns: repeat(2, 165px);
  grid-column-gap: 15px;

  .hero__button {
    background-color: hsl(228, 26%, 93%);
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .hero__button--blue {
    background-color: $soft-blue;
    border: 1px solid $soft-blue;
  }

  .hero__button--white {
    color: $very-dark-blue;
    border: 1px solid hsl(228, 26%, 93%);
  }

}

.hero__image {
  position: relative;

  figure {
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      height: 80%;
      width: 73%;
      bottom: -50px;
      right: 0;
      background-color: $soft-blue;
      position: absolute;
      border-top-left-radius: 60%;
      border-bottom-left-radius: 50%;
      z-index: -1;
    }
  }
}
