.header {
  grid-area: header;
  height: 5em;
}

.header__inner {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100%;
}

.header__nav {
  width: 100%;

  .header__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

}

.header__link {
  transition: color 250ms ease-in;

  &:hover {
    color: $primary-soft-red;
  }

}

.header__nav--mobile {
  display: none;
}