@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');

$primary-font: 'Rubik', sans-serif;

$primary-soft-blue: hsl(231, 69%, 60%);
$primary-soft-red: hsl(0, 94%, 66%);

$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);